
main, header > nav {
  max-width: 1100px;
}

main {
  display: flex;
  flex-direction: column;
}

.TOC {
  padding: 0 20px 0 0;
  overflow-y: auto;
}

.TOC a {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  display: block;
  padding: 4px 8px;
  transition-property: background-color, color;
  transition: .2s;
}

.TOC a:hover {
  background: rgba(0, 162, 255, 0.2);
  color: rgb(0, 140, 255);
  border-radius: 5px;
}

.TOC ul ul, .TOC ol ol {
  margin-bottom: 0;
}

.TOC > ul > li, .TOC > ol > li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed gray;
}

.TOC > ul > li > a {
  color: black;
  font-weight: bold;
}

.TOC > ul > li > ul > li > ul > li {
  margin-left: 1em;
}

.TOC > ul > li > ul > li > ul > li a {
  color: gray;
  font-size: 0.7em;
}

.title {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  align-self: center;
  margin: 0.5em 0 1em 0;
  max-width: 30ch;
}

.contents {
  display: grid;
  grid-template: 1fr / 210px minmax(0, 1fr);
}

@media screen and (max-width: 1000px) {
  .TOC {
    display: none;
  }

  .contents {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .title {
    text-align: left;
    align-self: auto;
  }
}
