
main {
  display: flex;
  flex-direction: column;
}

.TOC {
  padding: 0 20px 0 0;
}

.TOC ul {
  counter-reset: item;
}

.TOC li {
  display: block;
  font-size: 0.8rem;
}

.TOC a {
  display: block;
  color: var(--color-text);
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 5px;
  transition-property: background-color, color;
  transition-duration: .2s;
}

.TOC a:hover {
  color: var(--color-link);
  background: rgba(var(--color-vita-fg-rgb), 0.2);
}

.TOC a:before {
  counter-increment: item;
  content: counters(item, ".")". ";
}

.TOC > ul > li > a {
  font-weight: bold;
  color: var(--vita-color-bg);
}

.title {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  align-self: center;
  margin: 0.5em 0 1em 0;
  max-width: 30ch;
}

.contents {
  display: grid;
  grid-template: 1fr / 220px minmax(0, 1fr);
}

@media screen and (max-width: 1000px) {
  .TOC {
    display: none;
  }

  .contents {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .title {
    text-align: left;
    align-self: auto;
  }
}
