:root {
  --font-size: 18px;
  --line-height: 1.5;
  --leading: calc(var(--line-height) * 1rem);
  --scale: 1.414;
  --color-hr   : #DBDBDB;
  --code-frame : 1px solid #e0e0e0;
  --code-fg    : #333333;
  --code-bg    : #f5f5f5;
  --code-hi    : #a1a8b1;
  --code-gray  : #aaaaaa;
  --code-red   : #aa3731;
  --code-orange: #ab6526;
  --code-yellow: #ffe055;
  --code-green : #448c27;
  --code-aqua  : #91b3e0;
  --code-blue  : #4b83cd;
  --code-purple: #7a3e9d;
}

/* reset */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd, hr,
blockquote, figure, fieldset, legend, textarea, pre, iframe  {
  margin: 0;
  padding: 0;
}
 
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold;
} 

ul, ol {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* typography */

p, h1, h2, h3, article ul, article ol { margin-bottom: 0.9rem; }
p, li { font-size: 1.00rem; margin-top:   0; line-height: 1.70; }
h1 { font-size: 1.50rem; margin-top:      0; line-height: 1.25; }
h2 { font-size: 1.25rem; margin-top: 1.4rem; line-height: 1.25; }
h3 { font-size: 1.15rem; margin-top: 1.4rem; line-height: 1.25; }
pre { margin-bottom: 16px; }

article h1, article h2 {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-hr) 
}

article ul {
  list-style: disc;
  margin-left: 1em;
}

/* tables */

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--color-hr);
  padding: 6px 13px;
}

/* syntax highlighting */

/* type identifier */
code .ty { color: var(--code-purple); }
/* special identifier */
code .sp  { color: var(--code-red); font-weight: bold; }
/* keyword identifier */
code .kw  { color: var(--code-blue); }
/* function identifier */
code .fu { }
/* constant */
code .co { color: var(--code-orange); }
/* operator */
code .op  { color: gray; }
/* builtin */
code .bu { }
/* comment */
code .com  { color: var(--code-gray); }
/* string literal */
code .str { color: var(--code-green); }
/* number literal */
code .num { color: var(--code-orange); }

/* main contents */

html {
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  grid-template: auto 1fr auto / minmax(0, 1fr);
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
}

main {
  padding: 0 8px;
  max-width: 900px;
  justify-self: safe center;
}

.logo {
  height: 28px;
  min-width: 140px;
}

header {
  border-bottom: 1px solid var(--color-hr);
  overflow-x: auto;
}

header > nav {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.nav-right a {
  margin-left: 1em;
}

header > nav > * {
  display: inline-block;
}

header > nav a {
  color: black;
  text-decoration: none;
}

header > nav a:hover {
  color: #444;
  text-decoration: underline;
  cursor: pointer;
}

footer {
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

pre {
  border-left: 4px solid var(--color-hr);
  background: var(--code-bg);
  color: var(--code-fg);
  line-height: 1.45;
  padding: 8px 16px;
  overflow-x: auto;
  word-wrap: normal;
  tab-size: 4;
  -moz-tab-size: 4;
}

pre > code {
  padding: 0;
  border: none;
  border-radius: 0;
}

code {
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 85%;
  background: var(--code-bg);
  color: var(--code-fg);
}

@media screen and (max-width: 900px) {
  main {
    justify-self: unset;
  }
}